# Created by https://www.toptal.com/developers/gitignore/api/swiftpackagemanager,xcode
# Edit at https://www.toptal.com/developers/gitignore?templates=swiftpackagemanager,xcode

### SwiftPackageManager ###
#Packages
.build/
xcuserdata
DerivedData/
*.xcodeproj

### FireBase ###
**/GoogleService-Info.plist

### Fastlane ###
*.dSYM.zip
*.ipa
*.mobileprovision

### Xcode ###
## User settings
**/xcuserdata/*
**/*.xcuserstate

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/swiftpackagemanager,xcode

# Mac FS
.DS_Store
